<header>
  <a href="/"><h1>ISEMS</h1></a>
  <div class="menu">
    <nav>
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.header }}
        <li>
          <a href="{{ .URL }}"
             class='{{ if $currentPage.IsMenuCurrent "header" . }}active{{ end }}'
             title="{{ .Title }}">{{- .Title -}}</a></li>
        {{ end }}
      </ul>
    </nav>

    <div class="language-container">
      <button onClick="document.querySelector('.language-menu').classList.toggle('visible')">
        DE/EN
      </button>
      <ul class="language-menu">
        {{ range $.Site.Home.AllTranslations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>
